[submodule "vue-lab1"]
	path = vue-lab1
	url = https://github.com/givtszs/vue-lab1
[submodule "vue-lab2"]
	path = vue-lab2
	url = https://github.com/givtszs/vue-lab2
[submodule "vue-lab3"]
	path = vue-lab3
	url = https://github.com/givtszs/vue-lab3
